<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
<style>
    .logo {
        width: 70%;
        margin: 18px 50px;
    }
    footer {
        width: 100%;
    }
    .account-box {
        width: 440px;
        margin: 0px auto;
        border-radius: 0.3rem;
    }
    .account-form::placeholder {
        font-size: 1rem;
    }
</style>

<div class="logo">
    <a href="{% url 'main' %}"><img src="/static/img/logo.png" style="width: 180px;"></a>
</div>
{% block content %}
{% endblock %}

{% include 'footer.html' %}
</body>

</html>